/*toc*/
#toc {
  line-height: 1em;
  font-size: 100%;
  float: right;
}
#toc .toc {
  line-height: 1.8em;
}
#toc .toc li {
  list-style-type: none;
}
.toc-article {
  max-width: 50%;
  margin-left: 2rem;
  padding: 2rem;
  position: absolute;
  top: 10em;
  left: 80em;
  right: 0;
  bottom: 80%;
  z-index: 999;
}
.toc-child {
  margin-left: 1em;
  padding-inline-start: 20px;
}
